{% extends "master.html" %}

{% block title %}
    The Following folders will be moved , click next to queue them
{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
    <form action="." method="POST">
        <ul>
            {% for folder in folders %}
                <li>
                    {{ folder.SourceFolder }} will be moved to <br/>
                    {{ folder.DestFolder }}
                </li>
            {% endfor %}
        </ul>
        <input type="submit" value="Start Copy"/>
    </form>
{% endblock %}
