{% extends "master.html" %}

{% block title %}
    The Following folders have been queued into the DB. 
{% endblock %}

{% block content %}
<h2> The following folders have been queued into the DB , you 
    may either init tasks now by clicking the Start Copy 
    button or at any other time by using the View DB Queue Link</h2>
    <form action="/initDbQueue/" method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <th> 
                Source Folder
            </th> 
            <th> 
                Destination Folder
            </th> 
            <th> 
               Source Folder Size 
            </th> 

        </tr>
        {% for folder in folders %}
            {% if folder.moved %}
                <tr>
                    <td>{{ folder.source }} </td> 
                    <td>--> {{ folder.dest }}</td>
                    <td>{{ folder.space }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
        <br clear="all"/>
        <input type="submit" value="Start Copy"/>
    </form>
{% endblock %}
