{% extends "master.html" %}

{% block title %}
    The Following folders will be moved , click next to queue them
{% endblock %}

{% block head %}

{% endblock %}

{% block content %}
    <form action="/initDbQueue/" method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <th> 
                Source Folder
            </th> 
            <th> 
                Destination Folder
            </th> 
            <th> 
               Source Folder Size 
            </th> 

        </tr>
        {% for folder in folders %}
            {% if folder.moved %}
                <tr>
                    <td>{{ folder.source }} </td> 
                    <td>--> {{ folder.dest }}</td>
                    <td>{{ folder.space }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
        <br clear="all"/>
        <input type="submit" value="Start Copy"/>
    </form>
{% endblock %}
