<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Geo' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
<div id="drives"><img src="/static/images/ajax-loader.gif" id="loader" alt="loading"/></div>
<div id="header"></div>
<div id="bodyholder">
    <div id="content">
        <div class="menu">
            <ul>
                <li><a href="/">Home </a></li>
                <li><a href="/move/">Queue Files For Move</a></li>
            </ul>
        </div>
	<div id="innercontent">
        {% block content %}{% endblock %}
	</div>
    </div>
</div>
<script type="text/javascript" src="/static/js/jquery-1.6.min.js"></script>
<script type="text/javascript" src="/static/js/raphael-min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>
