<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='http://fonts.googleapis.com/css?family=Geo' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lekton' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="/static/js/jquery-1.6.min.js"></script>
    <script type="text/javascript" src="/static/js/raphael-min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>

    {% if THEME %}
	<link rel="stylesheet" href="/static/css/{{THEME}}.css"/>
    <link rel="stylesheet" href="/static/css/{{THEME}}_menu.css" type="text/css" />
    {% endif %}
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>

{% if not AUTHNEEDED %}
<div id="drives"><img src="/static/images/ajax-loader.gif" id="loader" alt="loading"/></div>
{% endif %}
<!--<div id="header"></div>-->
<div id="bodyholder">
    <div id="content">
        <div class="menu">
            <ul>
                <li><a href="/">Home </a></li>
                <li><a href="#" >Files</a><ul>
                <li><a href="/move/">Queue Files</a></li>
                <li><a href="{% url dbQueue %}">Execute Queue</a></li>
                <li><a href="/viewTasksInDbQueue">View Current Queue</a></li>
                </ul></li>
                <li><a href="#">Configuration</a><ul>
                <li><a href="/settings" >Settings</a>
                <li><a href="/admin" >Admin</a>
                </ul>
                </li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
	<div id="innercontent" >
    {% if AUTHNEEDED  and request.path != '/login/' and request.path != '/logout/'  %}
<a href="/login/" >Click here to Login</a>
    {% else %}
        {% block content %}{% endblock %}
        {% endif %}
	</div>
    </div>
</div>
</body>
</html>
