{% extends "master.html" %}
{% block title %}Stats{% endblock %}
{% block head %}

{% endblock %}

{% block content %}
{% if drive %}
    <ul>
        <li>Name: {{ drive.Name}}</li>
        <li>Path: {{ drive.Path}}</li>
        <li>Type: {{ drive.Type}}</li>
        <li>Is Over Max Usage: {{isOver}}</li>
        {% if isOver %}
        <li>Over By: {{overBy}}</li>
        {% endif %}
        <li>MaxUsagePercentage: {{ drive.MaxUsagePercentage}}</li>
        <li>DumpPreference: {{ drive.DumpPreference}}</li>
    </ul>
{% else %}
    <p>No drive found.</p>
{% endif %}
{% endblock %}
